{% extends "base.twig" %}

{% block content %}

    <!--suppress ALL -->
    <div class="clearfix"></div>

    <div class="page-template container">
        {% if posts.pagination.current == 1 %}
            {{ post.content|raw }}
        {% endif %}

        <h3>{{ __( 'Results', 'planet4-master-theme' ) }} - {{ __( 'Page', 'planet4-master-theme' )|lower }} {{ posts.pagination.current }}</h3>

        <div class="row">
            <div class="col-lg-8 multiple-search-result">
                <ul class="list-unstyled">
                    {% for post in posts %}
                        {% include 'tease-taxonomy-post.twig' %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <nav aria-label="Page navigation">
            <!--suppress Annotator -->
            <ul class="pagination gpnl-pagination">
                {% if posts.pagination.total > 1 %}

                    {% if posts.pagination.prev%}
                        <li class="page-item"><a href="{{posts.pagination.prev.link}}" class="page-link prev">&laquo; <span class="d-none d-md-inline">Vorige</span></a></li>
                    {% endif %}

                    {% for page in posts.pagination.pages %}
                        <li>
                        {% if page.link %}

                            {%  if loop.first and posts.pagination.current > 5 %}
                                <li class="page-item"><a class="page-link ends" href="{{page.link}}">Begin</a></li>
                            {%  elseif loop.last and posts.pagination.current < posts.pagination.total - 4 %}
                                <li class="page-item"><a class="page-link ends" href="{{page.link}}">Eind</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="{{page.link}}">{{page.name}}</a></li>
                            {% endif %}

                        {% else %}

                            {% if page.current %}
                                <li class="page-item active"><span class="page-link">{{page.name}}</span></li>
                            {% else %}
                                <li class="page-item"><span class="page-link">{{page.title|raw}}</span></li>
                            {% endif %}

                        {% endif %}
                        </li>
                    {% endfor %}

                    {% if posts.pagination.next%}
                        <li class="page-item"><a href="{{posts.pagination.next.link}}" class="page-link next"><span class="d-none d-md-inline">Volgende</span> &raquo;</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>

    </div>

{% endblock %}
